#Navbar {
  grid-area: Navbar;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  /* border: 5px solid salmon; */

  padding-left: 1.25em;
  padding-right: 1.25em;
  background: #383735;

  z-index: 1;
}

/* tab spacing */
.allTabs {
  width: 100%;
}
.allTabs div div {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 700px) {
  .allTabs div div {
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 980px) {
  .allTabs div div {
    margin-left: 12em;
    margin-right: 12em;
  }
}
@media (min-width: 1200) {
  .allTabs div div {
    margin-left: 25em;
    margin-right: 25em;
  }
}
/* .icon {
  color: #e8e6e3;
}
.selectedIcon {
  color: #9c27b0;
} */
