/* bg images: similar to uniswap/aave */

/* || General Setup */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  /* off-black */
  background-color: #282828;
  /* background-image: linear-gradient(
    to right bottom,
    #191919,
    #1c1c1c,
    #1f1f1f,
    #222222,
    #252525,
    #282828,
    #2a2a2a,
    #2d2d2d,
    #303030,
    #323232,
    #353535,
    #383838
  ); */
  image-rendering: crisp-edges;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* alternative box model */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || Typography */

html {
  color: #e8e6e3; /* off-white */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}
/*
        Sizes (18px base)

            56px head

            32px subhead

            24px subhead
    
            20px body

            18px head

            12px footer
*/

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.75rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

h5 {
  font-weight: 300;
  font-size: 1.25rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

/*




    1. HelpCenter
        mock UI
        nested routes for About and Blog
        display info for Info buttons (shipping, privacy, return)

    2. About mock UI and other pages 

    3. Get user auth working 





    #. highlight Navbar and Features items on hover
      fix responsive UI for Features- use vw?
      fix transparent hover- HelpCenter Info showing up through Filters and Searchbar





unexpected challenges:
  thinking "how could I implement this with pure CSS/JS" versus "what 
    MUI component could I borrow and edit to implement what I have in my mind"

    TextField component doesn't make explicit how to change border, on hightlight color,
    only how to change select color
    taking much longer than expected- parsing CSS specificity to highlight desired components
      partial solution- inspecting devtools and using knowledge of CSS children: 
            .formField label {
        color: red;
      }
      .formField div fieldset {
        border-color: red;
      }

    finding smaller subcomponents, considering editing global class names included with MUI,
    would rather not just ignore it and create a custom border
      
    partial solution would not select on-hover, so using global styleOverrides key from API
    sx = {{}}



notes:
  it's not about knowing everything, it's about knowing what not to listen to

  filtering all the noise to find the exact question to search Stackoverflow, and the 
    right smallest answer




*/

/* lighter black */
/* background-color: #2e2c2a; */

/* lightest black */
/* background-color: #383735; */

/* purple */
/* background-color: #6b269d; */

/* pink */
/* background-color: #cc72e2; */

/* violet */
/* background-color: #a022b5; */

/* || Responsive Design */
