/* bg images: similar to uniswap/aave */

/* || General Setup */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  /* off-black */
  background-color: #282828;
  /* background-image: linear-gradient(
    to right bottom,
    #191919,
    #1c1c1c,
    #1f1f1f,
    #222222,
    #252525,
    #282828,
    #2a2a2a,
    #2d2d2d,
    #303030,
    #323232,
    #353535,
    #383838
  ); */
  image-rendering: crisp-edges;
  min-height: 100vh;
  width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* alternative box model */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || Typography */

html {
  color: #e8e6e3; /* off-white */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}
/*
        Sizes (18px base)

            56px head

            32px subhead

            24px subhead
    
            20px body

            18px head

            12px footer
*/

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.75rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

h5 {
  font-weight: 300;
  font-size: 1.25rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

/*



       

    1. Mock UIs 
        Profile
        Cart
        Checkout

    2. 404 not found page
        <Route path="*" element={<NotFound />} />

    3. Get user auth working, JWT login

    4. Setup MongoDB catalog, inventory management, shopping cart, transactions / explore other popular ecommerce solutions like Shopify
        
    5. Order confirmation email, track shipping






    #Polish UI


      Filters
        grey border bottom line
        fix responsive UI - use vw?
        desktop width: Filters disappear on scroll


      Navbar
          highlight Navbar and Filters items on hover
          always have indicator on current page (if user directly
            goes to /help_center right now, the indicator is on root)

      HelpCenter
        fix transparent hover- HelpCenter Info showing up through Filters and Searchbar
        add title and adjust spacing for Info component
        production UI for shipping, return, and privacy

      FAQs
        '+' on right end of questions that turns to '-' when answer is open

      Blog
        'view more' links to unique blog page
        store data on Mongo

      FAQs, Blog, Root inventory
        Production content, not placeholder text or images

      *
        HD images, background overlays like Uniswap
        refactor, share more components between pages (button theme, etc)

      Profile
        separate nested route for Wishlist
        new nested route OrderHistory

      Profile, Cart, Checkout
        update all content for production







unexpected challenges:
    key not passing to React list component in FAQs
      "Each child in a list should have a unique "key" prop."
      solved: github issues, add id prop to QA object and pass as key on ListItem component

    setting position:relative on wishlist items, then this making the page width larger than viewport
      solve by isolating components and trying alternative styles

notes:




*/

/* lighter black */
/* background-color: #2e2c2a; */

/* lightest black */
/* background-color: #383735; */

/* purple */
/* background-color: #6b269d; */

/* pink */
/* background-color: #cc72e2; */

/* violet */
/* background-color: #a022b5; */

/* || Responsive Design */
