#Wishlist {
  /* border: 5px solid green; */
  /* margin: 0; */
  border-top: 3px solid grey;
}

#list {
  list-style-type: none;
}

.name {
  width: 3em;
  position: relative;
  left: 9.5em;
  top: 5em;
}

.price {
  width: 3em;
  position: relative;
  left: 12em;
  top: 5em;
}

.img {
  width: 9em;
  height: 12em;
  border: 2px solid grey;
  border-radius: 5px;
}

.btns {
  position: relative;
  left: 10em;
  bottom: 4em;
}
