#Navbar {
  grid-area: Navbar;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.3em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  background: #383735;
}

.icon {
  color: #e8e6e3;
}
.selectedIcon {
  color: #9c27b0;
}

/* purple */
/* background-color: #6b269d; */

/* pink */
/* background-color: #cc72e2; */

/* violet */
/* background-color: #a022b5; */

/*


Fix MUI tabs
  ERR: button cannot appear as a descendant of buttom 
  animation between pages
  click on outer edges and register that

  Hamburger
  animation
  submenu pops up and down above main nav



*/
